pipeline/Appendvariable.json
{
	"name": "Appendvariable",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "b",
					"value": "90"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('a')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"a": {
				"type": "String",
				"defaultValue": "[10,20.30,40]"
			},
			"b": {
				"type": "Array"
			},
			"output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-19T17:15:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}